- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-9.ml-sm-auto.col-lg-10.p-3{:role => "main"}
      .card.shadow.rounded-0
        .card-header.bg-success.text-white.rounded-0
          %h5
            = fa_icon "wpforms", text: t(controller_name + "." + action_name + '.title')
        .card-body
          .container-fluid
            = form_for @labour, :builder => WebsiteFormBuilder do |f|
              - if @labour.errors.any?
                #error_explanation.alert.alert-danger.alert-dismissible.fade.show
                  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
                    %span{"aria-hidden" => "true"} X 
                  %h2= "#{pluralize(@labour.errors.count, "error")} prohibited this buyer from being saved:"
                  %ul
                    - @labour.errors.full_messages.each do |msg|
                      %li= msg
              = render 'layouts/profile', f: f 
