.container-fluid
  = form_for [@designer, @designer_post], :builder => WebsiteFormBuilder do |f|
    - if @designer_post.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} x 
        %h2= "#{pluralize(@designer_post.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @designer_post.errors.full_messages.each do |msg|
            %li= msg
    .form-row
      .col-6
        .form-group.row
          = f.label Setting.designer_posts.name, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :name, :class => "form-control"
    
      .col-6
        .form-group.row
          = f.label Setting.designer_posts.phone, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :phone, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.designer_posts.idno, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :idno, :class => "form-control"
          
    .form-row
    
      .col-6
        .form-group.row
          = f.label "身份证正面", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("idcard_front"), :class => "blah"
              = f.file_field :idcard_front, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
    
      .col-6
        .form-group.row
          = f.label "身份证反面", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("idcard_back"), :class => "blah"
              = f.file_field :idcard_back, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
    
      .col-6
        .form-group.row
          = f.label "任职文件首页", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("task_front"), :class => "blah"
              = f.file_field :task_front, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
    
      .col-6
        .form-group.row
          = f.label "任职文件提名页", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("task_back"), :class => "blah"
              = f.file_field :task_back, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
    
      .col-6
        .form-group.row
          = f.label "任免书", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("hr_front"), :class => "blah"
              = f.file_field :hr_front, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
    
      .col-6
        .form-group.row
          = f.label "聘用合同", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("hr_back"), :class => "blah"
              = f.file_field :hr_back, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
    
    
    .form-group.row
      .col-3.offset-2
        = f.submit '保存', :class => "btn btn-success"
      .col-3.offset-1
        -#
          = link_to '返回', designer_posts_path, :class => "btn btn-danger"
