.container-fluid
  = form_for [@designer_water, @designer_water_cert], :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
    - if @designer_water_cert.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} x 
        %h2= "#{pluralize(@designer_water_cert.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @designer_water_cert.errors.full_messages.each do |msg|
            %li= msg
    = render 'layouts/sup_desg_one_form', f: f
