.container-fluid
  = form_for [@prospector, @prospector_handle], :builder => WebsiteFormBuilder do |f|
    - if @prospector_handle.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} x 
        %h2= "#{pluralize(@prospector_handle.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @prospector_handle.errors.full_messages.each do |msg|
            %li= msg
    = render 'layouts/agt_cst_mnt_prst_handle_form', f: f
