- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-9.ml-sm-auto.col-lg-10.p-3{:role => "main"}
      .card.shadow.rounded-0
        .card-header.bg-info.text-white.rounded-0
          %h5
            = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
            = link_to "/#{controller_name}", :class => "button button-border button-rounded button-caution pull-right  bg-white" do
              = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
            = link_to "#{request.url}/edit", :class => "button button-border button-rounded button-action pull-right mr-3 bg-white" do
              = fa_icon "edit", text: Setting.systems.btn_edit, right: false 
        .card-body
          .container-fluid
            .row
              .col-md-12
                %table.table.text-center.table-bordered
                  %thead
                    %tr
                    
                      %th 
                        = Setting.labour_handles.name
                      %th 
                        = Setting.labour_handles.phone
                      %th 
                        = Setting.labour_handles.idno
                  %tbody
                    %tr
                    
                      %td
                        = @labour_handle.name
                      %td
                        = @labour_handle.phone
                      %td
                        = @labour_handle.idno
            
              .col-md-2
                = image_tag @labour_handle.idcard_front_url
            
              .col-md-2
                = image_tag @labour_handle.idcard_back_url
            
              .col-md-2
                = image_tag @labour_handle.hr_front_url
            
              .col-md-2
                = image_tag @labour_handle.hr_back_url
            
              .col-md-2
                = image_tag @labour_handle.stamp_front_url
            
              .col-md-2
                = image_tag @labour_handle.stamp_back_url
            
            
            
            
            

