.container-fluid
  = form_for [@project, @project_group], :builder => WebsiteFormBuilder do |f|
    - if @project_group.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} x 
        %h2= "#{pluralize(@project_group.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @project_group.errors.full_messages.each do |msg|
            %li= msg
    .form-row
    
      .col-6
        .form-group.row
          = f.label Setting.project_groups.name, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :name, :class => "form-control"
          
    
    .form-group.row
      .col-3.offset-2
        = f.submit '保存', :class => "btn btn-success"
      .col-3.offset-1
        = link_to '返回', project_groups_path, :class => "btn btn-danger"
