.card.border-0.rounded-0
  #headingThree.card-header.p-0.bg-transparent
    %h4.m-0
      = link_to nil,  {:class => "d-flex p-3 text-decoration-none", :"aria-controls" => "collapseThree", :"aria-expanded" => "true", :"data-target" => "#collapseThree", :"data-toggle" => "collapse"} do
        = fa_icon "area-chart", text: "管理面板", class: "mx-3"
        
  #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionExample"}
    .card-body
      %ul.list-group.list-group-flush
        = link_to templates_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4" do
          = fa_icon "area-chart", text: "模板管理", class: "mx-3"
          %span.badge.badge-primary.badge-pill.pull-right
            14
        = link_to articles_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4" do
          = fa_icon "area-chart", text: "文章管理", class: "mx-3"
          %span.badge.badge-primary.badge-pill.pull-right
            14
        = link_to roles_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4" do
          = fa_icon "area-chart", text: "角色管理", class: "mx-3"
          %span.badge.badge-primary.badge-pill.pull-right
            14
        = link_to notices_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4" do
          = fa_icon "area-chart", text: "通知公告", class: "mx-3"
          %span.badge.badge-primary.badge-pill.pull-right
            14
        = link_to statistics_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4" do
          = fa_icon "area-chart", text: "数据统计", class: "mx-3"
          %span.badge.badge-primary.badge-pill.pull-right
            14
        = link_to spiders_path, :class => "list-group-item list-group-item-action border-0 text-left pl-4" do
          = fa_icon "area-chart", text: "爬虫", class: "mx-3"
          %span.badge.badge-primary.badge-pill.pull-right
            14
