.container-fluid
  = form_for [@supervisor_state, @supervisor_state_cert], :builder => WebsiteFormBuilder do |f|
    - if @supervisor_state_cert.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} x 
        %h2= "#{pluralize(@supervisor_state_cert.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @supervisor_state_cert.errors.full_messages.each do |msg|
            %li= msg
    = render 'layouts/sup_desg_two_form', f: f
