.container-fluid
  = form_for [@project, @project_table], :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
    - if @project_table.errors.any?
      #error_explanation
        %h2= "#{pluralize(@project_table.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @project_table.errors.full_messages.each do |msg|
            %li= msg
    .form-row
      .col-6
        .form-group.row
          = f.label Setting.table_templates.number, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :number, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.table_templates.name, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :name, :class => "form-control"

    .form-group.row
      .col-3.offset-2
        = f.submit '保存', :class => "btn btn-success"
  -#
    .card.shadow.rounded-0
      .card-header.bg-success.text-white.rounded-0
        .row
          = f.text_field :number, :class => "form-control col-2 mr-3"
          = f.text_field :name, :class => "form-control col-4", :required => true
          .col-5
            = f.submit '保存', :id => "project-table-save", :class => "button button-border button-rounded button-action pull-right bg-white"
            = link_to project_project_tables_path(@project), :class => "button button-border button-rounded button-caution pull-right bg-white" do
              = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      .card-body
        .form-row.justify-content-center
          = f.fields_for :project_pages do |project_page|
            = render 'project_page_fields', f: project_page 
          -#
            .links
              = link_to_add_association "添加", f, :project_pages, :class => "btn btn-success"
    
