.container-fluid
  = form_for [@project, @project_table], :builder => WebsiteFormBuilder do |f|
    - if @project_table.errors.any?
      #error_explanation
        %h2= "#{pluralize(@project_table.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @project_table.errors.full_messages.each do |msg|
            %li= msg

    .form-group.row
      .col-3.offset-2
        = f.submit '保存', :class => "btn btn-success"

    .form-row
      = f.fields_for :project_pages do |project_page|
        = render 'project_page_fields', f: project_page 
      -#
        .links
          = link_to_add_association "添加", f, :project_pages, :class => "btn btn-success"
    
