- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-9.ml-sm-auto.col-lg-10.p-3{:role => "main"}
      .card.shadow.rounded-0
        .card-header.bg-primary.text-white.rounded-0
          %h5
            = fa_icon "list", text: t(controller_name + "." + action_name + '.title')
            = link_to project_table_project_path(@project), :class => "button button-border button-rounded button-primary pull-right bg-white" do
              = fa_icon "plus", text: Setting.systems.btn_new, right: false 
            = link_to projects_path, :class => "button button-border button-rounded button-caution pull-right  bg-white" do
              = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
        .card-body
          .container-fluid.p-0
            .row
              .col-md-12
                %table.text-left.table-bordered.table-sm{:'data-toggle' => "table", :"data-pagination"=>"true", :"data-search" => "true",:'data-advanced-search'=>"true", :'data-id-table'=>"advancedTable"}
                  %thead.thead-light
                    %tr
                      %th{:scope => "col"} #
                    
                      %th{:scope => "col"}
                        = Setting.project_tables.category
                      %th{:scope => "col"}
                        = Setting.project_tables.name
                      %th{:scope => "col"}
                  %tbody
                    - @project_tables.each_with_index do |project_table, index|
                      %tr
                        %td{:scope => "row"}
                          = index+1
                      
                        %td
                          = project_table.category
                        %td
                          = link_to project_table.number + project_table.name, project_project_table_path(@project, project_table)
                        %td
                          .container-fluid
                            .row
                              - if project_table.creator == current_user.id
                                = link_to edit_project_project_table_path(@project, project_table), :class => "text-success col" do
                                  基本信息
                                = link_to content_project_project_table_path(@project, project_table), :class => "text-primary col" do
                                  表格内容
                                = link_to project_project_table_path(@project, project_table), :method => :delete, :data => {:confirm => "确定删除吗?"}, :class => "text-danger col" do
                                  = fa_icon "trash"

