- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-9.ml-sm-auto.col-lg-10.p-3{:role => "main"}
      .container-fluid
        .card.shadow.rounded-0
          .card-header.bg-success.text-white.rounded-0
            %h5
              = fa_icon "list", text: @project_table.number + @project_table.name
              = link_to project_project_tables_path(@project), :class => "button button-border button-rounded button-caution pull-right bg-white" do
                = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
          .card-body
            .form-row.justify-content-center
              - @project_pages.each do |project_page|
                .project-table-page-ctn.shadow.my-3
                  = project_page.style.html_safe
                  = project_page.html.html_safe
