.container-fluid
  = form_for [@labour_line, @line_cert ], :builder => WebsiteFormBuilder, :html => {:'data-parsley-validate' => true} do |f|
    - if @line_cert.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} x 
        %h2= "#{pluralize(@line_cert.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @line_cert.errors.full_messages.each do |msg|
            %li= msg
    .form-row
    
      .col-6
        .form-group.row
          = f.label Setting.line_certs.cert_no, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :cert_no, :class => "form-control", :required => true
          
      .col-6
        .form-group.row
          = f.label Setting.line_certs.start, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.date_field :start, :class => "form-control", :required => true
          
      .col-6
        .form-group.row
          = f.label Setting.line_certs.dept, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :dept, :class => "form-control", :required => true

    .form-row
      .col-12
        %h2.text-center.text-danger.bg-secondary
          = Setting.prf_ctgs.label
      - @cert_ctgs.each do |ctg|
        .col-3
          .form-group.row.cert-ctn
            = f.label "", :class => "col-6 text-right col-form-label col-form-label" do
              %span{:class => @my_ctgs[ctg.id].nil? ? "cert-name" : "cert-name bg-success" }
                = ctg.name
            .col-6
              = select_tag "cert_levels", options_for_prf_level(@my_ctgs[ctg.id]), :include_blank=>false, :class=>"form-control cert-level-select"
              = hidden_field_tag "cert[]", @my_ctgs[ctg.id].nil? ? ctg.id : ctg.id.to_s + "," + @my_ctgs[ctg.id], :class => "hidden-cert"
              = hidden_field_tag "cert-val", ctg.id, :class => "cert-val"


    .form-row
      .col-6
        .form-group.row
          = f.label "职称证书正面", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("cert_front"), :class => "blah"
              = f.file_field :cert_front, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :required => true, :onchange => "readURL(this);"
    
      .col-6
        .form-group.row
          = f.label "职称证书反面", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("cert_back"), :class => "blah"
              = f.file_field :cert_back, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :required => true, :onchange => "readURL(this);"
    
    .form-group.row
      .col-3.offset-2
        = f.submit '保存', :class => "btn btn-success"
      .col-3.offset-1
        = link_to '返回', labour_line_line_certs_path, :class => "btn btn-danger"
