.container-fluid
  = form_for [@labour_line, @line_cert ], :builder => WebsiteFormBuilder do |f|
    - if @line_cert.errors.any?
      #error_explanation.alert.alert-danger.alert-dismissible.fade.show
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} x 
        %h2= "#{pluralize(@line_cert.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @line_cert.errors.full_messages.each do |msg|
            %li= msg
    .form-row
    
      .col-6
        .form-group.row
          = f.label Setting.line_certs.cert_no, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :cert_no, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.line_certs.start, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.date_field :start, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.line_certs.dept, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :dept, :class => "form-control"

    .form-row
      .col-12
        %h2.text-center.text-danger.bg-secondary
          = Setting.prf_ctgs.label
      - @prfs.each do |prf|
        .col-3
          .form-group.row.prf-ctn
            = f.label "", :class => "col-6 text-right col-form-label col-form-label" do
              %span{:class => @prf_hash[prf.id].nil? ? "prf-name" : "prf-name bg-success" }
                = prf.name
            .col-6
              = select_tag "prf_levels", options_for_prf_level(@prf_hash[prf.id]), :include_blank=>false, :class=>"form-control prf-level-select"
              = hidden_field_tag "prf[]", @prf_hash[prf.id].nil? ? prf.id : prf.id.to_s + "," + @prf_hash[prf.id], :class => "hidden-prf"
              = hidden_field_tag "prf-val", prf.id, :class => "prf-val"

    .form-row
      .col-6
        .form-group.row
          = f.label "职称证书正面", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("cert_front"), :class => "blah"
              = f.file_field :cert_front, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
    
      .col-6
        .form-group.row
          = f.label "职称证书反面", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.one_image("cert_back"), :class => "blah"
              = f.file_field :cert_back, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
    
    .form-group.row
      .col-3.offset-2
        = f.submit '保存', :class => "btn btn-success"
      .col-3.offset-1
        = link_to '返回', labour_line_line_certs_path, :class => "btn btn-danger"
