.container-fluid
  = form_for @constructor, :builder => WebsiteFormBuilder do |f|
    - if @constructor.errors.any?
      #error_explanation
        %h2= "#{pluralize(@constructor.errors.count, "error")} prohibited this buyer from being saved:"
        %ul
          - @constructor.errors.full_messages.each do |msg|
            %li= msg
    .form-row
    
      .col-6
        .form-group.row
          = f.label Setting.constructors.company, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :company, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.constructors.cert, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :cert, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.constructors.corp, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :corp, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.constructors.address, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :address, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.constructors.idcard, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :idcard, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.constructors.province, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :province, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.constructors.city, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :city, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.constructors.county, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :county, :class => "form-control"
          
      .col-6
        .form-group.row
          = f.label Setting.constructors.habitation, :class => "col-3 text-right col-form-label col-form-label"
          .col-9
            = f.text_field :habitation, :class => "form-control"
          
    
    .form-row
      .col-6
        .form-group.row
          = f.label "营业执照", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.cert_front, :class => "blah"
              = f.file_field :cert_front, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
          .col-3
            %label.newbtn
              = image_tag f.cert_back, :class => "blah"
              = f.file_field :cert_back, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
      .col-6
        .form-group.row
          = f.label "法定代表人资格证书", :class => "col-3 text-right col-form-label col-form-label"
          .col-3
            %label.newbtn
              = image_tag f.quality_front, :class => "blah"
              = f.file_field :quality_front, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
          .col-3
            %label.newbtn
              = image_tag f.quality_back, :class => "blah"
              = f.file_field :quality_back, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :onchange => "readURL(this);"
    
    
    
    
    .form-group.row
      .col-3.offset-2
        = f.submit '保存', :class => "btn btn-success"
      .col-3.offset-1
        = link_to '返回', "#", :class => "btn btn-danger"
