.form-row

  .col-6
    .form-group.row
      = f.label Setting.designer_constructor_certs.cert_no, :class => "col-3 text-right col-form-label col-form-label"
      .col-9
        = f.text_field :cert_no, :class => "form-control", :required => true
      
  .col-6
    .form-group.row
      = f.label Setting.designer_constructor_certs.start, :class => "col-3 text-right col-form-label col-form-label"
      .col-9
        = f.date_field :start, :class => "form-control", :required => true
      
  .col-6
    .form-group.row
      = f.label Setting.designer_constructor_certs.dep, :class => "col-3 text-right col-form-label col-form-label"
      .col-9
        = f.text_field :dep, :class => "form-control", :required => true
      
  .col-6
    .form-group.row
      = f.label Setting.designer_constructor_certs.level, :class => "col-3 text-right col-form-label col-form-label"
      .col-9
        = f.select :level, options_for_zh_level, {:include_blank=>false}, {:class=>"form-control", :required => true}

.form-row
  .col-12
    %h2.text-center.text-danger.bg-secondary
      注册专业选择
  - @cert_ctgs.each do |ctg|
    .col-3
      .form-group.row.cert-ctn
        = f.label "", :class => "col-6 text-right col-form-label col-form-label" do
          %span{:class => @my_ctgs[ctg.id].nil? ? "cert-name" : "cert-name bg-success" }
            = ctg.name
        .col-6
          = select_tag "cert_levels", options_for_desc_level(@my_ctgs[ctg.id]), :include_blank=>false, :class=>"form-control cert-level-select"
          = hidden_field_tag "cert[]", @my_ctgs[ctg.id].nil? ? ctg.id : ctg.id.to_s + "," + @my_ctgs[ctg.id], :class => "hidden-cert"
          = hidden_field_tag "cert-val", ctg.id, :class => "cert-val"

  
      
.form-row

  .col-6
    .form-group.row
      = f.label "职称证书人像面", :class => "col-3 text-right col-form-label col-form-label"
      .col-3
        %label.newbtn
          = image_tag f.one_image("cert_front"), :class => "blah"
          = f.file_field :cert_front, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :required => true, :onchange => "readURL(this);"

  .col-6
    .form-group.row
      = f.label "职称证书单位面", :class => "col-3 text-right col-form-label col-form-label"
      .col-3
        %label.newbtn
          = image_tag f.one_image("cert_back"), :class => "blah"
          = f.file_field :cert_back, :accept => "image/png, image/jpeg, image/gif", :class => "select-file", :required => true, :onchange => "readURL(this);"

.form-group.row
  .col-3.offset-2
    = f.submit '保存', :class => "btn btn-success"
